.mini-cart-wrapper {
	.mini-cart-item {
		padding-bottom: 5px;
		border-bottom: 1px solid var(--light-color);
		margin: 5px 0;

		.product {
			.image-wrapper {
				width: 80px;
				height: 80px;
				max-width: 80px;
			}

			.product-details {
				.product-title {
					color: var(--text-dark);

					a {
						font-weight: 500;
					}
				}

				.product-info {
					color: var(--text-light);
					font-size: 14px;
				}
			}
		}
	}

	.cart-total {
		padding-top: var(--size-xxs);
		padding-bottom: var(--size-xxs);
		color: var(--text-dark);
		font-size: var(--size-base);
	}

	.cart-action {
		padding-top: 10px;

		.btn {
			padding-top: var(--size-xs);
			padding-bottom: var(--size-xs);
			font-weight: 400;
		}

		.cart-btn {
			background-color: var(--primary-color);
		}

		.checkout-btn {
			border-color: var(--primary-color);
			color: var(--primary-color);
		}
	}
}

.cart-page {
	.page-content {
		padding: var(--size-xxl) 0;

		.cart-table {
			thead {
				tr {
					th {
						color: var(--text-light);
						font-weight: 500;
						line-height: 1.5;
						font-size: var(--size-base);
					}
				}
			}

			tbody {
				tr {
					.product-col {
						margin-left: 0;
						padding: var(--size-md) 0;

						.cart-product {
							.product-media {
								img {
									height: 80px;
									object-fit: contain;
								}
							}

							.product-title-wrapper {
								.product-title {
									a {
										display: inline-block;
										color: var(--text-light);
										font-weight: 500;
										font-size: var(--size-base);
										line-height: 1.25;
										margin: 0;
										letter-spacing: -.01em;
									}
								}

								.product-attribute {
									color: var(--text-light);
									font-size: var(--size-sm);
									padding-right: var(--size-xs);
								}
							}
						}
					}

					.price-col {
						color: var(--text-light);
						font-weight: 500;
						font-size: var(--size-base);
						line-height: 1.25;
						margin: 0;
					}

					.qty-col {
						text-align: center;
						font-size: var(--size-base);
						color: var(--text-light);
						font-weight: 600;
					}

					.total-col {
						color: var(--primary-color);
						font-weight: 600;
						font-size: var(--size-base);
					}
				}
			}
		}
	}

	.summary-cart {
		margin-bottom: 3rem;
		padding: 20px;
		border: .1rem dashed #d7d7d7;
		background-color: #f9f9f9;
		border-radius: .3rem;

		.summary-title {
			color: var(--text-dark);
			font-weight: 600;
			font-size: 18px;
			padding-bottom: var(--size-md);
			border-bottom: .1rem solid #cccccc;
		}

		.table-summary {
			line-height: 1.43;
			color: #666;
			border: none;
			margin-bottom: 0;
			width: 100%;

			.summary-subtotal {
				td {
					color: #333;
					font-weight: 400;
					font-size: 16px;
					height: 70px;
					border-bottom: .1rem solid #ebebeb;

				}
			}

			.right {
				text-align: right;
			}

			.summary-shipping-estimate,
			.summary-shipping {
				color: #333;

				td {
					color: inherit;
					height: auto;
					border-bottom: none;
					padding: 20px 0 10px;
				}
			}

			.summary-shipping-row {
				color: #333;

				td {
					padding-bottom: 5px;
					font-weight: 300;
					color: inherit;
					font-size: 16px;

					.custom-control-label {
						padding-left: 10px;
					}

					&:last-child {
						text-align: right;
					}
				}
			}

			.summary-shipping-estimate {
				a {
					font-weight: 300;
					color: #999;
					font-size: 14px;
					border-bottom: 0.1rem solid #999;
					margin-bottom: 10px;
				}
			}

			.summary-total {
				td {
					padding: 20px 0;
					font-weight: 400;
					font-size: 18px;
					color: #c96;
					border-bottom: none;
				}
			}


		}

		.btn-order {
			color: #c96;
			background-color: transparent;
			background-image: none;
			border: 1px solid #c96;
			box-shadow: none;
			text-align: center;
			display: inline-block;
			padding: 8px 20px;
			width: 100%;
			margin-top: 10px;
		}
	}

	.continue-shopping-btn {
		border: 1px solid #ebebeb;
		color: #333;
		text-align: center;
		display: inline-block;
		padding: 8px 20px;
		width: 100%;
		font-size: 16px;
		font-weight: 300;
	}
}