.main-header {
	.header-top {
		.top-header-wrapper {
			padding-top: var(--size-base);
			padding-bottom: var(--size-base);
			border-bottom: 1px solid var(--light-color);

			.left-content {
				.logo-wrapper {
					img {
						max-width: 100%;
					}
				}
			}

			.middle-content {
				position: relative;

				.search-result-wrapper {
					position: absolute;
					width: 100%;
					z-index: 999;
					background-color: #fff;

					.loader-wrapper {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 20px 10px;
					}

					.search-item {
						padding: 10px 12px 0;
						border-bottom: 1px solid var(--light-color);

						.details-wrapper {
							.title {
								font-size: var(--size-base);
								color: var(--text-dark);
								font-weight: 500;
							}

							.price {
								color: var(--text-light);
								font-size: var(--size-sm);
							}
						}

						&:last-child {
							margin-bottom: 10px;
							border-bottom: 0;
						}
					}
				}
			}

			.right-content {
				.icon-wrapper {
					text-align: center;

					p {
						font-size: var(--size-sm);
						color: var(--text-light);
					}

					.mini-cart-icon-wrapper {
						position: relative;

						.cart-item-count {
							position: absolute;
							right: -10px;
							top: -10px;
						}
					}
				}
			}
		}
	}

	.header-bottom {
		.bottom-header-wrapper {
			padding-top: var(--size-xs);
			padding-bottom: var(--size-xs);
			border-bottom: 0.1rem solid rgba(235, 235, 235, 0.55);

			.header-left {
				color: var(--text-dark)
			}

			.header-center {
				a {
					color: var(--text-dark);
					font-weight: 400;
				}
			}

			.header-right {
				color: var(--text-dark);
			}
		}
	}
}