.shop-page {
    .breadcrumbs-wrapper {
        padding: 10px 0 20px;
        border-bottom: 0.1rem solid rgba(235, 235, 235, 0.55);
        margin-bottom: 30px;

        a {
            color: #666;
            font-size: 0.875rem;
        }
    }
}