@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
}

::-moz-placeholder {
  font-family: "Poppins", sans-serif !important;
}

::placeholder {
  font-family: "Poppins", sans-serif !important;
}

input {
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
}

header.header .header-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
header.header .header-top .header-right .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
header.header .header-top .header-right .icon p {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 300;
  color: #777;
  padding-top: 0.5rem;
}
header.header .header-bottom {
  padding: 8px 0;
  border-bottom: 0.1rem solid rgba(235, 235, 235, 0.55);
}
header.header .header-bottom .header-center a {
  text-decoration: none;
  font-weight: 500;
  color: #333;
}

.login-modal {
  padding: 0 1rem 2rem;
}
.login-modal .title-wrapper {
  margin-bottom: 15px;
}
.login-modal .title-wrapper h1 {
  color: #333;
  font-weight: 600;
  font-size: 1.5rem;
}
.login-modal .title-wrapper p {
  color: #777;
  font-size: 13px;
  padding-bottom: 10px;
}
.login-modal .input-wrapper {
  padding-bottom: 30px;
}
.login-modal .input-wrapper .forgot {
  font-size: 14px;
  margin-top: var(--mantine-spacing-sm);
  color: #777;
}

.mini-cart-wrapper .mini-cart-item {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  margin: 5px 0;
}
.mini-cart-wrapper .mini-cart-item .product .product-cart-details .product-title a {
  color: #666;
  font-weight: 400;
  font-size: 14px;
}
.mini-cart-wrapper .mini-cart-item .product .product-cart-details .cart-product-info {
  color: #999;
  font-size: 14px;
}
.mini-cart-wrapper .cart-total {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #666;
  font-size: 14px;
}
.mini-cart-wrapper .cart-action {
  padding-top: 10px;
}

.homepage .intro-slider {
  margin-bottom: 80px;
}
.homepage .intro-slider .slider-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 20;
  padding: 1rem;
}
.homepage .intro-slider .slider-next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 20;
  padding: 1rem;
}
.homepage .intro-slider .slider-item img {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.homepage .home-categories .title-wrapper h2 {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  margin: 0;
}
.homepage .home-categories .category-item {
  padding: 50px 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.homepage .home-categories .category-item a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.homepage .home-categories .category-item a figure {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 1;
  margin: 0;
}
.homepage .home-categories .category-item a figure span {
  position: relative;
}
.homepage .home-categories .category-item a figure span img {
  transition: transform 0.35s ease;
}
.homepage .home-categories .category-item a figure span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.2rem;
  left: 45%;
  width: 105%;
  margin-left: -45%;
  height: 0.3rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.35s ease;
  filter: blur(3px);
  opacity: 0.5;
}
.homepage .home-categories .category-item a h3 {
  color: #333;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-size: 0.85rem;
  margin-top: 10px;
}
.homepage .home-categories .category-item:hover figure span img {
  transform: translateY(-14px);
}
.homepage .banners {
  margin-bottom: 80px;
}
.homepage .banners .banner-item .banner-overlay {
  cursor: pointer;
  background: #ccc;
  position: relative;
  border-radius: 0.25rem;
}
.homepage .banners .banner-item .banner-overlay .banner-image {
  display: flex;
}
.homepage .banners .banner-item .banner-overlay .banner-image img {
  width: 100%;
}
.homepage .banners .banner-item .banner-overlay .banner-image::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.homepage .banners .banner-item .banner-overlay:hover .banner-image::after {
  opacity: 1;
  visibility: visible;
}
.homepage .banners .banner-item .banner-overlay .banner-content {
  position: absolute;
  z-index: 50;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  top: 1.5rem;
  left: 1.5rem;
  bottom: 3.2rem;
  transform: translateY(0);
}
.homepage .banners .banner-item .banner-overlay .banner-content .banner-subtitle {
  margin-bottom: 10px;
}
.homepage .banners .banner-item .banner-overlay .banner-content .banner-subtitle a {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
}
.homepage .banners .banner-item .banner-overlay .banner-content .banner-title {
  margin-bottom: 20px;
}
.homepage .banners .banner-item .banner-overlay .banner-content .banner-title a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
}
.homepage .banners .banner-item .banner-overlay .banner-content .banner-title a span {
  font-weight: 300;
}
.homepage .banners .banner-item .banner-overlay .banner-content .banner-link {
  display: flex;
  align-self: flex-start;
  line-height: 1.4;
  letter-spacing: -0.01em;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.35s ease;
  color: #fff;
  font-size: 0.85rem;
  padding: 6px 16px;
}
.homepage .trending-products {
  background-color: #f4f7ff;
  margin-bottom: 80px;
  padding: 50px 0;
}
.homepage .trending-products .title-left h2 {
  font-weight: 600;
  letter-spacing: -0.025em;
  margin: 0;
  color: #333;
  font-size: 1.5rem;
}
.homepage .trending-products .title-right .mantine-Tabs-tabLabel {
  text-transform: uppercase;
  color: #777;
}
.homepage .trending-products .tab-content-wrapper {
  padding-top: 50px;
}
.homepage .recomended-products {
  margin-bottom: 80px;
}
.homepage .recomended-products .title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.homepage .recomended-products .title-wrapper .title-left h2 {
  font-weight: 600;
  letter-spacing: -0.025em;
  margin: 0;
  color: #333;
  font-size: 1.5rem;
}
.homepage .recomended-products .title-wrapper .title-right .title-link {
  display: flex;
  align-items: center;
  color: #333;
}
.homepage .recomended-products .title-wrapper .title-right .title-link span {
  padding-right: 10px;
}
.homepage .icon-box {
  border-top: 1px solid #ddd;
  padding: 30px 0;
}
.homepage .icon-box .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.homepage .icon-box .item .icon {
  padding: 15px;
}
.homepage .icon-box .item .content h3 {
  margin: 0;
  color: #333;
  font-weight: 600;
}
.homepage .icon-box .item .content p {
  margin: 0;
  color: #777;
}

.product {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  border: 0.1rem solid rgba(235, 235, 235, 0.55);
}
.product .product-media {
  position: relative;
  display: block;
  background-color: #d7d7d7;
  margin: 0;
  overflow: hidden;
}
.product .product-media::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: #999;
  transition: all 0.3s;
}
.product .product-media img {
  width: 100%;
  height: auto;
  display: flex;
}
.product .product-action-vertical {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: transparent;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease;
  transform: translateX(-15px);
}
.product .product-action-vertical .btn-product-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1;
  transition: all 0.35s ease;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
}
.product .product-body {
  transform: translateY(0px);
  transition: transform 0.35s ease;
  background-color: #fff;
  padding: 1rem 0.75rem 0;
  padding-bottom: 1rem;
}
.product .product-body .product-cat a {
  transition: all 0.35s ease;
  color: #777;
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 1.2;
  font-weight: 400;
  padding-right: 5px;
}
.product .product-body .product-title {
  margin: 0 0 10px 0;
}
.product .product-body .product-title a {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1.2rem;
  letter-spacing: -0.01em;
  color: #333333;
  font-weight: 500;
}
.product .product-body .product-price {
  display: flex;
  flex-flow: wrap;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
}
.product .product-body .product-price .new-price {
  color: #ef837b;
  margin-right: 0.8rem;
  font-size: 16px;
  font-weight: 500;
}
.product .product-body .product-price .old-price {
  color: #777;
  text-decoration: line-through;
  font-size: 16px;
}
.product .product-footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  transform: translateY(100%);
  visibility: hidden;
  transition: all 0.35s ease;
  padding: 0;
}
.product .product-footer .ratings-container {
  display: flex;
  line-height: 1;
  white-space: nowrap;
  padding: 1rem 0.75rem 0;
}
.product .product-footer .ratings-container .ratings-text {
  color: #777;
  letter-spacing: -0.01em;
  margin-left: 0.8rem;
  font-size: 12px;
}
.product .product-footer .product-action {
  position: static;
  left: auto;
  right: auto;
  bottom: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  border-top: 0.1rem solid #ebebeb;
  border-bottom: none;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product .product-footer .product-action .btn-product {
  font-weight: 400;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  text-transform: capitalize;
  display: flex;
}
.product .product-footer .product-action .btn-product span {
  color: #777;
  font-size: 14px;
  padding-left: 5px;
}
.product .product-footer .product-action .btn-product + .btn-product {
  border-left: 0.1rem dotted #e5e5e5;
  padding-left: 8px;
}
.product:hover .product-media::before {
  opacity: 0.2;
}
.product:hover .product-action-vertical {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.product:hover .product-body {
  transform: translateY(-75px);
}
.product:hover .product-footer {
  visibility: visible;
  transform: translateY(0px);
}

.single-product-page .breadcrumbs-wrapper {
  padding: 10px 0 20px;
  border-bottom: 0.1rem solid rgba(235, 235, 235, 0.55);
  margin-bottom: 30px;
}
.single-product-page .breadcrumbs-wrapper a {
  color: #666;
  font-size: 0.875rem;
}
.single-product-page .page-content .product-gallery .slider-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 20;
  padding: 1rem;
}
.single-product-page .page-content .product-gallery .slider-next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 20;
  padding: 1rem;
}
.single-product-page .page-content .product-gallery .thumbs-wrapper {
  margin-left: 0;
  margin-right: 0;
}
.single-product-page .page-content .product-gallery .thumbs-wrapper ul.thumbs {
  padding-left: 0;
}
.single-product-page .page-content .product-details .product-title {
  font-weight: 500;
  color: #333;
}
.single-product-page .page-content .product-details .review-wrapper {
  padding: 10px 0;
}
.single-product-page .page-content .product-details .review-wrapper .ratings-text {
  color: #cccccc;
  font-size: 14px;
}
.single-product-page .page-content .product-details .product-price {
  padding: 5px 0;
  color: #c96;
  font-size: 24px;
  font-weight: 500;
}
.single-product-page .page-content .product-details .product-content {
  color: #777;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  padding-top: 10px;
}
.single-product-page .page-content .product-details .product-filter-wrapper {
  padding-top: 10px;
}
.single-product-page .page-content .product-details .product-filter-wrapper .details-filter-row {
  margin-bottom: 10px;
}
.single-product-page .page-content .product-details .product-filter-wrapper .details-filter-row label {
  color: #666;
}
.single-product-page .page-content .product-details .product-filter-wrapper .details-filter-row .product-nav {
  padding-top: 10px;
}
.single-product-page .page-content .product-details .product-filter-wrapper .details-filter-row .product-nav img {
  width: 50px;
}
.single-product-page .page-content .product-details .product-filter-wrapper .details-filter-row .size-guide {
  color: #777;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.single-product-page .page-content .product-details .product-filter-wrapper .details-filter-row .size-guide span {
  padding-left: 5px;
}
.single-product-page .page-content .product-details .product-details-action label {
  color: #666;
}
.single-product-page .page-content .product-details .product-details-action .qty-wrapper {
  padding-top: 10px;
}
.single-product-page .page-content .product-details .product-details-action .qty-wrapper .mantine-Input-section {
  cursor: pointer;
}
.single-product-page .page-content .product-details .product-details-action .qty-wrapper input {
  text-align: center;
}
.single-product-page .page-content .product-details .product-details-action .details-action-wrapper {
  padding: 30px 0;
}
.single-product-page .page-content .product-details .product-details-action .details-action-wrapper .btn-cart {
  font-weight: 300;
  letter-spacing: -0.01em;
  font-size: 15px;
}
.single-product-page .page-content .product-details .product-details-action .details-action-wrapper .btn-wishlist,
.single-product-page .page-content .product-details .product-details-action .details-action-wrapper .btn-compare {
  font-weight: 400;
  font-size: 15px;
  color: #666;
  transition: all ease-in-out 0.3s;
}
.single-product-page .page-content .product-details .product-details-action .details-action-wrapper .btn-wishlist .mantine-Button-label::before,
.single-product-page .page-content .product-details .product-details-action .details-action-wrapper .btn-compare .mantine-Button-label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #c96;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
.single-product-page .page-content .product-details .product-details-action .details-action-wrapper .btn-wishlist:hover,
.single-product-page .page-content .product-details .product-details-action .details-action-wrapper .btn-compare:hover {
  color: #c96;
}
.single-product-page .page-content .product-details .product-details-action .details-action-wrapper .btn-wishlist:hover .mantine-Button-label::before,
.single-product-page .page-content .product-details .product-details-action .details-action-wrapper .btn-compare:hover .mantine-Button-label::before {
  transform-origin: left center;
  transform: scale(1, 1);
}
.single-product-page .page-content .product-details .product-details-footer {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.single-product-page .page-content .product-details .product-details-footer .product-cat {
  font-size: 14px;
  color: #777;
}
.single-product-page .page-content .product-details .product-details-footer .product-cat span {
  padding-right: 5px;
  color: #777;
}
.single-product-page .page-content .product-details .product-details-footer .product-cat a {
  color: #666;
  padding-left: 5px;
}
.single-product-page .page-content .product-details .product-details-footer .social-icons {
  color: #777;
  font-size: 14px;
}
.single-product-page .page-content .product-details .product-details-footer .social-icons .social-label {
  padding-right: 10px;
}
.single-product-page .page-content .product-details .product-details-footer .social-icons .social-icon {
  border: 0.1rem solid #e1e2e6;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-product-page .page-content .product-details .product-details-footer .social-icons .social-icon:not(:last-child) {
  margin-right: 5px;
}
.single-product-page .page-content .product-details-tab {
  padding-top: 50px;
}
.single-product-page .page-content .product-details-tab .tab-list .mantine-Tabs-tabLabel {
  color: #333;
  text-transform: capitalize;
  font-size: 16px;
}
.single-product-page .page-content .product-details-tab .tab-content .panel-content {
  padding-top: 20px;
}
.single-product-page .page-content .product-details-tab .tab-content .panel-content .product-desc-content {
  color: #333;
}
.single-product-page .page-content .product-details-tab .tab-content .panel-content .product-desc-content h3 {
  color: #333;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  margin-bottom: 15px;
}
.single-product-page .page-content .product-details-tab .tab-content .panel-content .product-desc-content p {
  font-weight: 300;
  color: #666;
  font-size: 14px;
  margin-bottom: 15px;
}
.single-product-page .page-content .product-details-tab .tab-content .panel-content .product-desc-content ul {
  padding-left: 10px;
  font-weight: 300;
  color: #666;
  font-size: 14px;
  margin-bottom: 15px;
}

.shop-page .breadcrumbs-wrapper {
  padding: 10px 0 20px;
  border-bottom: 0.1rem solid rgba(235, 235, 235, 0.55);
  margin-bottom: 30px;
}
.shop-page .breadcrumbs-wrapper a {
  color: #666;
  font-size: 0.875rem;
}

.cart-page .breadcrumbs-wrapper {
  padding: 10px 0 20px;
  border-bottom: 0.1rem solid rgba(235, 235, 235, 0.55);
  margin-bottom: 30px;
}
.cart-page .breadcrumbs-wrapper a {
  color: #666;
  font-size: 0.875rem;
}

.footer {
  background-color: #f5f6f9;
  margin-top: 100px;
}
.footer .footer-middle {
  padding: 80px 0;
}
.footer .footer-middle .widget p {
  color: #777;
  font-weight: 300;
  font-size: 14px;
}
.footer .footer-middle .widget .widget-title {
  color: #333;
  letter-spacing: -0.01em;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer .footer-middle .widget .widget-list {
  padding-left: 0;
}
.footer .footer-middle .widget .widget-list li {
  list-style: none;
  margin-bottom: 5px;
}
.footer .footer-middle .widget .widget-list li a {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.footer .footer-middle .widget .widget-list li a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #39f;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
.footer .footer-middle .widget .widget-list li a:hover::before {
  transform-origin: left center;
  transform: scale(1, 1);
}
.footer .footer-bottom .container {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}
.footer .footer-bottom .container p {
  color: #777;
  font-weight: 300;
  margin: 0;
}
.footer .footer-bottom .container .footer-payments {
  margin: 0;
}/*# sourceMappingURL=style.css.map */